.navbar-fixed-top {
    color: ivory;
}
.navbar-fixed-top a {
    text-decoration: none;
    color: ivory;
}
.navbar-brand {
    margin-left: 50px;
}
.nav {
    margin-right: 50px;
}


.jumbotron {
    background-image: url('../img/stardust.png');
    background-attachment: fixed;
    /* color: #1D3146; */
    color: #CEFAFF;
    min-height: 500px;
    margin-bottom: 0;
}

.jumbotron .container {
    padding: 20px  40px 50px 40px;
    border-radius: 50px;
    -webkit-box-shadow: 5px 10px 20px rgba(253, 253, 182, 0.47);
            box-shadow: 5px 10px 20px rgba(253, 253, 182, 0.47);
    margin-bottom:100px;
    position: relative;
    overflow: hidden;
}

.jumbotron .container:before {
    content: ' '; /* Some content is required and needs to be block*/
    display: block;
    background-image: url('../img/header-banner-design_31803.jpg');
    background-size: cover;
    width: 100%; /* stretch image to cover all and give size */
    height: 100%;
    position: absolute;
    left: 0; /* position absolute to work with relative and stick to top and left */
    top: 0;
    /* background-position: 50% 0; */
    z-index: 0;
    opacity: 0.2; /* controls transparency */
    border-radius: 50px; /* To match container */
}

.jumbotron .container a {
    margin-top: 30px;
}

.bgColor1 {
    background-color: rgba(179, 213, 217, 0.73);
}
.bgColor2 {
    background-image: url('../img/dark-triangles.png');
    background-attachment: fixed;
    color: #CEFAFF;
}

.padding {
    padding: 50px 0;
}

.imgVAlign {
    margin: auto 0;
}

footer {
    min-height: 150px;
    background-color: #0E0E10;
    color: rgb(225, 249, 252);
    text-align: center;
    padding-bottom: 200px;
}